body { 
    background-color: LightSteelBlue;
}


div.menubar {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
    padding: 7px;
    background-color: Orange;
}


.centered_text {
    text-align: center;
}


table.user_table {
    border-style: solid;
    border-width: 2px;
    border-color: black;
 border-collapse: collapse;
}

td.user_cell {
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

th.user_cell {
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
